@tailwind base;
@tailwind components;
@tailwind utilities;

.notification-badge {
    @apply bg-red-500;
    border-radius: 100%;
    font-size: 0.7rem;
    right: 0.5rem;
    top: -0.5rem;
    position: absolute;
    height: 1.3rem;
    text-align: center;
    width: 1.3rem;
    line-height: 1.2rem;
}

.notification-menu:hover {
    @apply text-gray-300;
}

.notification-menu:hover .notification-badge {
    @apply text-white
}

.group-item {
    height: 2.2rem;
}

.group-item .group-item-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    right: .3rem;
    top: 0.1rem;
}

.group-item .group-item-actions {
    visibility: hidden;
    padding-top: .12rem;
}

.group-item:hover .group-item-name {
    right: 5rem;
}

.group-item:hover .group-item-actions {
    visibility: visible;
}