@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  @apply bg-gray-900;
}

body.allow-scrolling {
    overflow: auto;
}

.notification-badge {
    @apply bg-red-500;
    border-radius: 100%;
    font-size: 0.7rem;
    right: 0.5rem;
    top: -0.5rem;
    position: absolute;
    height: 1.3rem;
    text-align: center;
    width: 1.3rem;
    line-height: 1.2rem;
}

.notification-menu:hover {
    @apply text-gray-300;
}

.notification-menu:hover .notification-badge {
    @apply text-white
}

.group-list {
    height: calc(100vh - 8.5rem);
}

.group-item {
    height: 2.5rem;
}

.group-item i {
    line-height: 2.5rem;
    margin-top: -3px;
}

.group-item .name-text {
    position: relative;
    top: 1.5px;
}

.group-item-children {
    padding-left: 1rem;
}

.group-item .group-item-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    right: .3rem;
    top: 0.1rem;
}

.group-item .group-item-actions {
    visibility: hidden;
    padding-top: .12rem;
}

.group-item:hover .group-item-name {
    right: 3.5rem;
    padding-right: 0 !important;
}

.group-item:hover .group-item-actions,
.group-item.opened-menu .group-item-actions {
    visibility: visible;
}

dialog {
  pointer-events: none;
  opacity: 0;
  display: block;
  @apply rounded-xl;
  padding: 2em;
  @apply bg-gray-800;
  @apply text-white;
}
dialog[open] {
  opacity: 1;
  pointer-events: inherit;
  transition: all .5s;
}
dialog::backdrop {
  @apply bg-gray-950;
  @apply opacity-50;
}

.icon-menu .icon-menu-items {
    display: none;
}

.icon-menu.show-items .icon-menu-items {
    display: block;
}

.note-editor {
     flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
}

.note-editor input, .note-editor textarea {
    outline: none;
}

.note-editor .title-editor {
    font-size: 2rem;
    display: block;
    width: 100%;
    font-weight: 600;
    background: transparent;
    transition: all 0.3s;
}

.note-editor .text-editor {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    min-height: calc(100vh - 8em);
    overflow: hidden;
    resize: none !important;
    background: transparent;
}

.view-note .title {
    font-size: 2em;
   font-weight: bold;
}

.view-note .tag, .note-editor .tag-editor {
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.3s;
    @apply text-gray-400;
    @apply mr-2;
}

.view-note .tag:hover {
    @apply text-gray-300;

}

.markdown-viewer {
    all: initial;
    color: #FFF;
    @apply font-sans; 
    line-height: 1.5em;
    display: block;
    margin-bottom: 5em;
    padding-bottom: 5em;
}

.markdown-viewer td {
    border: .2em solid;
    @apply p-2;
    @apply border-gray-600;
}

.markdown-viewer tr:nth-child(odd) {
    @apply bg-gray-800;
}

.markdown-viewer .node-tableHead {
    @apply font-bold bg-gray-700;
}


.markdown-viewer p {
    padding: .5em 0;
}

.markdown-viewer h1,
.markdown-viewer h2,
.markdown-viewer h3,
.markdown-viewer h4,
.markdown-viewer h5,
.markdown-viewer h6 {
    font-weight: bold;
    @apply mt-4 mb-4;
    padding: .5em 0;
}


.markdown-viewer h1 {
    font-size: 2.30em;
    padding: .3em 0;
}

.markdown-viewer h2 {
    font-size: 1.8em;
    padding: .3em 0;
}

.markdown-viewer h3 {
    font-size: 1.50em;
    padding: .4em 0;
}

.markdown-viewer h4 {
    font-size: 1.30em;
    padding: .4em 0;
}

.markdown-viewer h5 {
    font-size: 1.20em;
    padding: .5em 0;
}

.markdown-viewer h6 {
    font-size: 1.15em;
    padding: .5em 0;
}


.markdown-viewer ul, .markdown-viewer ol {
    padding-left: 1.5em;
}

.markdown-viewer ul {
    list-style-type: initial;
}

.markdown-viewer ul li {
    padding: .15em 0;
}

.markdown-viewer ol {
    list-style-type: decimal;
}

.markdown-viewer blockquote {
    padding: .5em 1em;
    @apply bg-gray-950;
    border-left: 3px solid #FFF;
     border-radius: .5em;
}

.markdown-viewer pre {
    padding: 1em;
    @apply bg-gray-950;
    border-radius: .5em;
}

.markdown-viewer a {
    @apply text-gray-400;
}

.markdown-viewer a:hover {
    text-decoration: underline;
}

.file-picker {
    min-height: 20em;
}

.markdown-viewer code {
    @apply bg-gray-950;
    @apply pr-1;
    @apply pl-1;
    @apply rounded-sm;
    @apply text-sm;
    @apply text-gray-300;
    display: inline-block;
}

.diff-viewer {
    display: block;
    margin-bottom: 5em;
    padding-bottom: 5em;
}

.diff-viewer div {
    display: block;
    padding-bottom: .5em;

}

.diff-viewer .diff-added {
    background-color: #335c67;
    color: #FFF;
}


.diff-viewer .diff-removed {
    background-color: #7d1300;
    color: #FFF;
}

.diff-viewer .diff-changed {
    background-color: #ffcc00;
    color: #000;
}

.diff-viewer .diff-changed .diff-added {
    background-color: #ffcc00;
    color: #000;
}


code, pre {
    font-family: monospace;
}

.link-form-expiration {
    min-height: 2.5em;
}

select.select-input {
    padding: .66em .5em;
}